<script src="http://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
    crossorigin="anonymous"></script>

<form id="mine">
    <div>
        <input name="email" type="text">
        <ul data-validation-for="email"></ul>
    </div>
    <div>
        <input name="password" type="password">
        <ul data-validation-for="password"></ul>
    </div>
</form>
<script src="./index.js"></script>

<script>
    console.log(mojo)
    var errors = mojo.validation.test('#mine')
    mojo.validation.print("#mine", errors)
    console.log(errors)
</script>